##### Deny all by default
*

##### Allow specific files

## Allow subprojects
!*/.gitignore
!bg3vcs

## Allow e2e tests
!tests

## Git configuration
!.gitignore

## go workspace
!go.work
!go.work.sum

## Repository documentation
!README.md
!LICENSE

## Tools
!tools

## Mise configuration
!mise.toml

##### Deny specific files and folders
output/*

