##### Deny all by default
*

##### Allow subfolders
!*/

##### Allow specific files

## Git configuration
!.gitignore

## Mise tasks configuration
!tasks.toml

## E2E Tests
!**/*.robot
!tools/testdata/*.md