##### Deny all by default
*

##### Allow subfolders
!*/

##### Allow specific files

## Git configuration
!.gitignore

## go 
!go.mod
!go.sum
!*.go

## Repository documentation
!README.md
!LICENSE

## Mise configuration
!mise.toml