# BG3 Toolkit Monorepo

This monorepo contains tools and utilities for Baldur's Gate 3 modding.

## Available Modules

{{- for module in modules -}}
### {{ .name }}

{{ .description }}

See {{ .name }}'s [README.md]({{ .path }}/README.md) for detailed installation and usage instructions.
